<h1>Todo List: </h1>
<br>
<div class="container text-center">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3">
      <div class="input-group mb-3" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
        <input type="text" class="form-control" placeholder="Ajouter une tache" aria-label="" aria-describedby="button-addon2" [(ngModel)]="newTodo">
        <button class="btn btn-outline-secondary btn-primary" type="button" id="button-addon2" (click)="saveTask()">+</button>
      </div>
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let task of tasks;let i = index;">
            <th scope="row"> {{i+1}} </th>
            <td class=" {{(!task.isCompleted)?'done': ''}}" (click)=done(i)> {{task.title}} </td>
            <td style="color: #bb6400; font-weight: bold;" (click)=remove(i)>x</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>